/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 750px;
}

.google-letter {
  fill: #00d000
}

svg {
  background: black;
  fill: black;
}

.vector-obj {
  stroke: white;
}

@font-face {
  font-family: 'VectorBattle';
  src: url('/fonts/VectorBattle-e9XO.ttf') format('truetype');
}

.google-vector {
  font-family: 'VectorBattle';
  font-size: 4em;
  fill: #00d000;
  text-anchor: middle;
}