/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}

.google-letter {
  fill: #00d000
}

svg {
  background: black;
}

.vector-obj {
  stroke: white;
}

g.baddie {
/*   fill: red; */
}

.vector-obj {
/*   fill: blue; */
}